<div class="markdown-body">
  <h1><%= post.title %></h1>
  <%- post.content %>
  <blockquote>
    <p>日期： <%= post.date %></p>
    <p class="tags">
      标签： <% if (post.tags.length) post.tags.forEach(function(tag){ %>
      <a href="<%= getTagUrl(tag) %>" class="hoverlink"> <%= tag %> </a>
      <% }); else { %> 无 <% } %>
    </p>
    <% if (post.url.startsWith('/archives/')) { %>
    <p>这是一篇旧文，原始文章及评论可在 <a href="https://oldblog.mcfx.us<%= post.url %>">https://oldblog.mcfx.us<%= post.url %></a> 查看</p>
    <% } %>
  </blockquote>
</div>

<div class="markdown-body">
  <script
    src="https://giscus.app/client.js"
    data-repo="mcfx0/blog_comments"
    data-repo-id="MDEwOlJlcG9zaXRvcnkzOTk3NDUyMzE="
    data-category="General"
    data-category-id="DIC_kwDOF9Ogz84B-zxn"
    data-mapping="specific"
    data-term="post-<%= post.id %>"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-theme="light"
    crossorigin="anonymous"
    async
  ></script>
</div>
